{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  {% if id %}Edit event{% else %}Create new event{% endif %}
</h1>
<h2 class="subtitle">
  Enter events details
</h2>

<form class="box has-background-primary-light" action="/add_event" method="POST" novalidate>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" type="text" name="title" value="{{ fields['title'] }}">
    </div>
  </div>

  <div class="field">
    <label class="label">Place</label>
    <div class="control select">
      <select name="place">
        <option value="None" selected disabled hidden>Select a place</option>
        {% for place in places %}
        <option value="{{ place.id }}" {% if place.id == fields['place_id'] %}selected{% endif %}>{{ place.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <label class="label">Date of event</label>
        <p class="control">
          <input class="input" name="date" type="date" value="{{ fields['date'] }}">
        </p>
      </div>
    </div>
    <div class="column is-2">
      <div class="field">
        <label class="label">Starting time</label>
        <p class="control">
          <input class="input" type="time" size="4" name="time" value="{{ fields['time'] }}">
        </p>
      </div>
    </div>
  </div>

  <label class="label">Maximum attendees</label>
  <div class="field has-addons">
    <p class="control">
      <input class="input" type="text" size="4" name="max_people" value="{{ fields['max_people'] }}">
    </p>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="textarea" type="text" name="description" placeholder="Tell us about your event..."
        value="{{ fields['description'] }}">
    </div>
  </div>
  <input type="hidden" name="event_id" value="{{ id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <button id="button" type="submit" class="button is-primary" onclick="showSpinner('button')">Save</button>
</form>

{% endblock %}