{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  Create new place
</h1>
<h2 class="subtitle">
  Enter place details
</h2>

<form class="box has-background-primary-light" action="/save_place" method="POST" novalidate>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" name="name" value="{{ fields['name'] }}">
    </div>
  </div>

  <div class="columns">
    <div class="column is-3">
      <div class="field">
        <label class="label">Latitude</label>
        <p class="control">
          <input class="input is-static" type="text" name="latitude" value="{{ fields['latitude'] }}">
        </p>
      </div>
    </div>
    <div class="column is-3">
      <div class="field">
        <label class="label">Longitude</label>
        <p class="control">
          <input class="input is-static" type="text" name="longitude" value="{{ fields['longitude'] }}">
        </p>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Address</label>
    <div class="control">
      <input class="input is-static" type="text" name="address" value="{{ fields['address'] }}">
    </div>
  </div>

  <div class="field">
    <label class="label">Picture URL</label>
    <div class="control">
      <input class="input" type="text" name="pic_url" value="{{ fields['pic_url'] }}">
    </div>
  </div>

  <div class="field">
    <label class="label">Web page URL</label>
    <div class="control">
      <input class="input" type="text" name="page_url" value="{{ fields['page_url'] }}">
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="textarea" type="text" name="description" placeholder="Tell us about the place..."
      value="{{ fields['description'] }}">
    </div>
  </div>
  <input type="hidden" name="place_id" value="">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <button id="button" type="submit" class="button is-primary" onclick="showSpinner('button')">Save</button>
</form>

{% endblock %}