{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  {{ unit.title }}
</h1>
<h2 class="subtitle">
  {% if past %}Past{% else %}Upcoming{% endif %} event
</h2>

<div class="box has-background-primary-light">
  <div class="columns">
    <div class="column is-4">
      {% include "azuremap.html" %}
    </div>
    <div class="column is-8">
      <h2 class="subtitle">
        {{ unit.name }}
      </h2>

      <div class="columns is-gapless is-multiline">
        <div class="column is-half">
          <i class="fas fa-map-marker-alt"></i> {{ unit.address }}
        </div>
        <div class="column is-half">
          <i class="fa fa-home"></i> <a href="{{ unit.page_url }}" style="overflow:hidden;" target="_blank">
            {% if unit.page_url|length < 37 %} {{ unit.page_url }} {% else %} {{ unit.short_url }}... {% endif %} </a>
        </div>
        <div class="column is-one-quarter">
          <i class="fas fa-calendar"></i> {{ unit.date.strftime("%a %d %b") }}
        </div>
        <div class="column is-one-quarter">
          <i class="fas fa-clock"></i> {{ unit.time.strftime("%H:%M") }}
        </div>
        <div class="column is-half">
          <i class="fas fa-address-book"></i> <a class="js-modal-trigger" data-target="user-modal{{ unit.username }}">{{
            unit.username }}</a>
        </div>
      </div>

      <div class="block"><i class="fas fa-quote-left fa-2x fa-pull-left"></i> {{ unit.description }}</div>
      <div class="block">
        <form action="/signup" method="POST">
          <div class="field has-addons">
            {% if session.username != unit.username %}
            {% if user_going %}
            {% if past %}
            <p class="button is-static is-small">
              <i class="fa fa-check"></i>
            </p>
            {% else %}
            <button id="button" type="submit" class="button is-small is-success" onclick="showSmallSpinner('button')">
              <i class="fa fa-check"></i>
            </button>
            {% endif %}
            {% else %}
            {% if past %}
            <p class="button is-static is-small">
              <i class="fas fa-plus"></i>
            </p>
            {% else %}
            <button id="button" type="submit" class="button is-small is-primary" onclick="showSmallSpinner('button')">
              <i class='fas fa-plus'></i>
            </button>
            {% endif %}
            {% endif %}
            {% else %}
            <p class="button is-static is-small">
              <i class="fa fa-check"></i>
            </p>
            {% endif %}

            <span>&nbsp; <a class="js-modal-trigger" data-target="user-list">
                {% if user_going and going == 0 %}
                You are going
                {% elif user_going and going == 1 %}
                You and 1 are going
                {% elif user_going and going > 1 %}
                You and {{ going }} are going
                {% elif not user_going and going == 0 %}
                1 is going
                {% else %}
                {{ going+1 }} are going
                {% endif %}
              </a>(max {{ unit.max_people }})</span>
            {% include "user_list_modal.html" %}
          </div>
          <input type="hidden" name="event_id" value="{{ id }}">
          <input type="hidden" name="max_people" value="{{ unit.max_people }}">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </div>
    </div>
  </div>
  {% if session.username == unit.username or session.role == "admin" %}
  <div class="columns">
    <div class="column">
      <form action="/edit_event" method="POST">
        <div class="field">
          <button id="button2" type="submit" class="button is-success" onclick="showSpinner('button2')">
            Edit event
          </button>
        </div>
        <input type="hidden" name="event_id" value="{{ id }}">
      </form>    
    </div>
    <div class="column">
      <form action="/delete_event" method="POST">
        <div class="field">
          <button id="button3" type="submit" class="button is-success" onclick="showSpinner('button3')">
            Delete event
          </button>
        </div>
        <input type="hidden" name="event_id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>          
    </div>
  </div>
  {% endif %}

</div>

{% include "user_modal.html" %}

<div class="block">
  <h2 class="subtitle">
    Comments
  </h2>
</div>

<div>
  <div class="notification">
    <div class="columns is-mobile is-size-7">
      <div class="column is-one-fifth">
        {{ session.username }}
        <i class="fas fa-star"></i>
      </div>
      <div class="column">
        now
      </div>
    </div>
    <form action="/write_comment" method="POST">
      <div class="field has-addons">
        <button id="button4" type="submit" class="button is-small is-primary" onclick="showSmallSpinner('button4')"><i
            class='fa fa-share'></i></button>
        <input class="input is-small" type="text" name="comment" placeholder="Write a comment...">
      </div>
      <input type="hidden" name="event_id" value="{{ id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  </div>

  {% for unit in comments %}
  <div class="notification">
    <div class="columns is-mobile is-size-7">
      <div class="column is-one-fifth">
        <a class="js-modal-trigger" data-target="user-modal{{ unit.username }}">{{ unit.username }}</a>
        {% if session.username == unit.username %}
        <i class="fas fa-star"></i>
        {% endif %}

      </div>
      <div class="column">
        {{ unit.created_at.strftime("%a %d %b %H:%M") }}
      </div>
    </div>
    <div>
      {{ unit.comment }}
    </div>
  </div>

  {% include "user_modal.html" %}
  {% endfor %}

</div>
{% endblock %}