{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  Events
</h1>
<h2 class="subtitle">
  Upcoming events
</h2>
<div class="box has-background-info-light is-flex is-vcentered">
  <a href="/new_event" id="button" class="button is-primary" onclick="showSpinner('button')">
    New event
  </a>
</div>
<div class="block">
  <div>Number of events: {{ count }}</div>
  {% for unit in events %}
  {% include "event_box.html" %}
  {% endfor %}
</div>

<h2 class="subtitle">
  Past events
</h2>
<div class="block">
  <div>Number of events: {{ past_count }}</div>
  {% for unit in past_events %}
  {% include "event_box.html" %}
  {% endfor %}
</div>

{% endblock %}