{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  {{ event[1] }}
</h1>
<h2 class="subtitle">
  Upcoming event
</h2>

<div class="box has-text-primary has-background-primary-light">
  <div class="columns">
    <div class="column">
      <i class="fas fa-calendar"></i> {{ event.date }}
    </div>
    <div class="column">
      <i class="fas fa-clock"></i> {{ event.time }}
    </div>
    <div class="column">
      <i class="fas fa-map-marker"></i> To be added
    </div>
    <div class="column">
      Organized by {{ event.hostname }}
    </div>
  </div>

  <div><i class="fas fa-quote-left fa-2x fa-pull-left"></i> {{ event.description }}</div>
</div>
<div>
  <h2 class="subtitle">
    Comments
  </h2>
</div>

<div>
  {% if comments %}
  {% for comment in comments %}
  <div class="box">
    <div class="columns is-mobile is-size-7">
      <div class="column is-one-fifth">
        {{ comment.username }}
      </div>
      <div class="column">
        {{ comment.created_at }}
        {% if session.username == comment.username %}
        My comment
        {% endif %}
      </div>
    </div>
    <div>
      {{ comment.comment }}
    </div>
  </div>

  {% endfor %}
  {% endif %}

  <form class="box" action="/write_comment" method="POST">
    <div class="field">
      <div class="control">
        <input class="textarea" type="text" name="comment" placeholder="Write a comment...">
      </div>
    </div>
    <input type="hidden" name="event_id" value="{{ id }}">
    <button id="button" type="submit" class="button is-primary" onclick="showSpinner()">Send</button>
  </form>

</div>
{% endblock %}