{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  Minglerz.net
</h1>
<h2 class="subtitle">
  Log in to your account
</h2>
<form class="box" action="/login" method="POST">
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>

  <button id="button" type="submit" class="button is-primary" onclick="showSpinner('button')">
    Sign in
  </button>
</form>

<h2 class="subtitle">
  Or create a new account
</h2>

<a href="/new_user" id="button2" class="button is-primary" onclick="showSpinner('button2')">
  Create user account
</a>

{% endblock %}