{% extends "layout.html" %}
{% block content %}

<h1 class="title">
  MeetApp
</h1>
<h2 class="subtitle">
  Log in to your account
</h2>
{% if session.username %}
<p>Signed in as {{ session.username }}</p>
<div><a href="/user/1">View my profile</a></div>
<div><a href="/users">View users</a></div>
<div><a href="/new_event">Create new event</a></div>
<div><a href="/logout">Log out</a></div>
{% else %}
<form class="box" action="/login" method="POST">
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>

  <button id="button" type="submit" class="button is-primary" onclick="showSpinner()">Sign in</button>
</form>

<a href="/new_user">Create user account</a>
{% endif %}

{% endblock %}